/* ======== Gr GRAY DDWIN ======== */
.GrGrayDDWin {
  color: Black;
  background-color: #f2f1f1;
  font: 10pt Calibri, Tahoma, Arial;
  border: 1px solid #a5a3a3;
	@include border-radius($pixel_7);
	@include box-shadow(3px 3px 6px #aaa)
}

.GrGrayDDWinAdjust! {}

.GrGrayDDWinInner {
  border: 1px solid White;
 @include border-radius($pixel_8);
}

.GrGrayDDWinTitle {
	@include text-shadow(#ffffff 0px 0px 3px);
  font-weight: bold;
  padding: 2px 4px;
  cursor: move;
}

.GrGrayDDWinHeader {
  padding: 2px 4px;
}

.GrGrayDDWinBody {
  background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
  font: 10pt Calibri, Tahoma, Arial;
  padding: $pixel_8;
   @include border-radius($pixel_8);
}

.GrGrayDDWinButtons {
  text-align: right;
  border-top: 1px solid $silver_light;
  padding: 2px 4px;
}

.GrGrayDDWinFooter {
  padding: 2px 4px;
}

.GrGrayDDWinResizer {
  background: url('images/a5generated/box/size/1x8/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23219%2c218%2c218.png.a5image') repeat-x top #dddcdc;
  font-size: 1px;
  border-top: 1px solid $silver_light;
  cursor: s-resize;
  height: 10px;
}

.GrGrayDDWinBBar {
  padding: 2px 4px;
}

.GrGrayDDWinTBar {
  border-bottom: 1px solid $silver_light;
  padding: 2px 4px;
}
