/* ======== Gr GRAY TP ======== */
.GrGrayTP .GrGrayEdit {
  text-align: center;
  background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
  font: 10pt Calibri, Tahoma, Arial;
  border: 1px solid #c3c3c3;
  border-bottom-style: none;
  padding: 3px;
  margin: 0px;
  @include border-top-radius(2px);
}

.GrGrayTPEditButton {
  text-align: center;
  text-decoration: none;
  background-color: #f9f9f9;
  border: 1px solid #c3c3c3;
  border-top-style: none;
  padding: 2px;
  display: block;
  @include border-bottom-radius(2px);
  outline: none;
  &:hover {
    background: url('images/a5generated/box/size/1x8/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
    border-top-style: solid;
    padding-top: 1px;
  }
}

.GrGrayTPMeridianButton {
  text-decoration: none;
  @include text-shadow(1px 1px #ffffff);
  color: #333232;
  padding: 2px 3px;
  margin-left: 2px;
  vertical-align: middle;
  @include border-radius(4px);
  outline: none;
  &:hover {
    @include text-shadow(1px 1px #ffffff);
    color: Black;
    background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
    border: 1px solid #4170ff;
    padding: 1px 2px;
 	@include border-radius(4px);;
  }
}
