/* ======== Gr GRAY LIST ======== */
.GrGrayTree {
  background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
  font: 10pt Calibri, Tahoma, Arial;
  border: 1px solid #c3c3c3;
  padding: 2px;
  overflow: auto;
  @include border-radius(2px);
  @include box-sizing(border-box);
}

.GrGrayTreeNode {
  text-decoration: none;
  color: Black;
  padding: 2px 4px;
  margin: 1px;
  display: block;
  cursor: default;
  outline: none;
}

.GrGrayTreeNodeHover {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
  border: 1px solid #93aeff;
  padding: 1px 3px;
   @include border-radius(2px);
}

.GrGrayTreeNodeSelected {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
  border: 1px solid #93aeff;
  padding: 1px 3px;
  @include border-radius(2px);
}

.GrGrayTreeNodeLabel {
  text-decoration: none;
  color: Black;
  cursor: default;
  outline: none;
}