/* ======== Gr GRAY WIN ACCORDION ======== */
.GrGrayAccordion! {}

.GrGrayAccordionButton {
  @include accordion-button();
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top $mercury;
  @include border-radius(2px);
  outline: none;
  &:hover {
    background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image') repeat-x top $gallery;
  }
}

.GrGrayAccordionButtonSelected {
  @include accordion-button();
  @include text-shadow(none);
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23252%2c250%2c250/.%23238%2c236%2c236.png.a5image') repeat-x top $gallery;
  border-bottom-color: $alto;
  @include border-top-radius(2px 2px 0px 0px);
  outline: none;
  &:hover! {}
}

.GrGrayAccordionButtonDisabled {
  @include accordion-button();
  color: #888585;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top $mercury; 
  @include border-radius(2px);
  outline: none;
  &:hover! {}
}

.GrGrayAccordionPane {
  color: $black;
  background-color: $hint_of_red;
  border: 1px solid $silver;
  border-top-style: none;
  padding: 2px;
  margin-top: -2px;
  margin-bottom: 2px;
  @include border-bottom-radius(2px);
}

.GrGrayAccordionIconButton {
  @include accordion-btn-icon();
  
  text-shadow: 1px 1px $white;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top $mercury;
  @include border-radius($pixel_8);
  
  &:before {
    position: absolute;
    top: 2px;
    left: 3px;
    content: url('Expand.png');
  }
  
  &:hover {
    background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image') repeat-x top $gallery;
  }
}

.GrGrayAccordionIconButtonSelected {
  @include accordion-btn-icon();
  border-bottom-color: $alto;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23252%2c250%2c250/.%23238%2c236%2c236.png.a5image') repeat-x top $gallery;
  @include border-top-radius($pixel_8);
  &:before {
    position: absolute;
    top: 2px;
    left: 3px;
    content: url('Collapse.png');
  }
  
  &:hover! {}
}

.GrGrayAccordionIconButtonDisabled {
  @include accordion-btn-icon(); 
  color: #888585;
  @include text-shadow(1px 1px $white);
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top $mercury;
  @include border-radius($pixel_8);
 
}

.GrGrayAccordionButtonDisabled:hover!, .GrGrayTabTContainer!, .GrGrayTabTBand! {}
