/* ======== Gr GRAY SPIN ======== */
.GrGraySpinList {
  text-shadow: none;
  color: Black;
  background-color: #fdfcfc;
  border: 1px solid $grgray_spinlist_border;
  padding: 3px;
  vertical-align: top;
  @include border-radius($pixel_8);
  @include box-sizing(border-box);
  &:after {
    background-image: url('spinListShadow.png');
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    @include border-radius($pixel_9);
    content: "";
    background-size: 100% 100%;
  }
}

.GrGraySpinListItem {
  font: 10pt Calibri, Tahoma, Arial;
  padding: 2px;
}

.GrGraySpinListGroup {
  white-space: nowrap;
  border: 1px solid $grgray_spinlist_border;
  padding: 0px;
  overflow: hidden;
  border-radius: 2px;
  .GrGraySpinList {
    border-style: none;
    border-right: 1px solid $grgray_spinlist_border;
    display: inline-block;
    border-radius: 0px;
    &:last-child {
      border-style: none;
    }
    &:after {
     @include border-radius(0);
    }
  }
}

.GrGraySpinListSelectBand:before {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
  border-top: 1px solid $grgray_spinlist_borderSlc;
  border-bottom: 1px solid $grgray_spinlist_borderSlc;
  margin-top: -8pt;
  display: block;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 16pt;
  content: "";
  background-size: 100% 100%;
}

/* Scroll Indicator */

.GrGrayScrollIndH, .GrGrayScrollIndV {
  padding: 0px;
  width: 5px;
  height: 5px;
}

.GrGrayScrollIndHBar, .GrGrayScrollIndVBar {
  background-color: Black;
  @include opacity(0.5);
  @include border-radius($pixel_4);
}

/* fix to help with firefox button padding */

button::-moz-focus-inner {
  border-width: 0;
  padding: 0;
}