/* ======== Gr GRAY DIALOG ======== */
.GrGrayDialogLabel {
  padding: $pixel_8;
}

.GrGrayDialogRSHeader! {}

.GrGrayDialogRSFooter {
  text-align: right;
  border-top: 1px dotted $silver_light;
  padding-top:  $pixel_8;
}

.GrGrayDialogRSRow {
  padding:  $pixel_7;
}

.GrGrayDialogRSRowSelected {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.White/.%23236%2c240%2c255.png.a5image') repeat-x top #ecf0ff;
  border: 1px solid $gray_dialog_rowaction_border ;
  padding: $pixel_8;
  @include border-radius(4px);
}

.GrGrayDialogRSRowHover {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23253%2c254%2c255/.%23243%2c246%2c255.png.a5image') repeat-x top #f3f6ff;
  border: 1px solid $gray_dialog_rowaction_border ;
  padding: $pixel_8;
  @include border-radius(4px);
}

.GrGrayDialogRSRowError {
  color: $gray_dialog_error;
  background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image') repeat center #ffdada;
  border: 1px solid $gray_dialog_error;
  adding: $pixel_8;
  @include border-radius(4px);
}

.GrGrayDialogRSSeparator {
  border-top: 1px dotted $silver_light;
  margin-top: $pixel_5;
  line-height: $pixel_5;
}
