/* ========  Gr GRAY WIN POINTER ======== */
.GrGrayWinPointerDown, .GrGrayDDWinPointerDown, .GrGrayMenuPointerDown {
  border-top: 10px solid #a5a3a3;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: -10px;
  left: 50%;
  @include square(0);
  bottom: -10px;
}

.GrGrayWinPointerUp, .GrGrayDDWinPointerUp, .GrGrayMenuPointerUp {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #a5a3a3;
  margin-left: -10px;
  top: -10px;
  left: 50%;
   @include square(0);
}

.GrGrayWinPointerLeft, .GrGrayDDWinPointerLeft, .GrGrayMenuPointerLeft {
  border-top: 10px solid transparent;
  border-right: 10px solid #a5a3a3;
  border-bottom: 10px solid transparent;
  margin-top: -10px;
  top: 50%;
  left: -10px;
   @include square(0);
}

.GrGrayWinPointerRight, .GrGrayDDWinPointerRight, .GrGrayMenuPointerRight {
  border-top: 10px solid transparent;
  border-left: 10px solid #a5a3a3;
  border-bottom: 10px solid transparent;
  margin-top: -10px;
  top: 50%;
  right: -10px;
  @include square(0);
}