/* ========   Gr GRAY SWITCH ======== */
.GrGraySwitch {
  color: $grgray_switch_fontcolor;
  background: url('images/a5generated/box/size/1x28/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
  border: 1px solid $grgray_switchOn_border;
  cursor: default;
  height: 28px;
  @include border-radius(4px)
}

.GrGraySwitchOn {
  color: $grgray_switchOn_fontcolor;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image') repeat-x top #f0efef;
}

.GrGraySwitchOff! {}

.GrGraySwitchInner {
  margin: 0px 14px;
}

.GrGraySwitchRight {
  text-align: center;
  padding: 4px;
  padding-left: 32px;
  box-sizing: border-box;
  @include box-sizing(border-box);
}

.GrGraySwitchLeft {
  text-align: center;
  padding: 4px;
  padding-right: 32px;
  @include box-sizing(border-box);
}

.GrGraySwitchButton {
  background: url('images/a5generated/box/size/1x28/fill/Gradient_Horizontal/.%23242+242+242/.%23217+216+216.png.a5image') repeat-x top;
  border: 1px solid $grgray_switch_btnBorder;
  margin-top: -1px;
  margin-left: -15px;
  @include square($pixel + 18);
  @include border-radius(4px);
}
