/* ======== Gr GRAY TAB ======== */
.GrGrayTabTButton {
  text-decoration: none;
  @include text-shadow(1px 1px $white);
  color: Black;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
  border: 1px solid $grgray_tab_border;
  border-bottom-style: none;
  padding: 2px 4px;
  margin-right: 2px;
  margin-bottom: -1px;
  display: block;
  float: left;
  cursor: default;
  @include border-bottom-radius($pixel_8);
  outline: none;
  &:hover {
    background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image') repeat-x top #efeded;
    border-color: $grgray_tab_btnborder;
  }
}

.GrGrayTabTButtonSelected {
  text-decoration: none;
  @include text-shadow(1px 1px $white);
  color: Black;
  background-color: $hint_of_red;
  border: 1px solid $grgray_tab_btnborder;
  border-bottom-style: none;
  padding: 2px 4px;
  padding-bottom: 3px;
  margin-right: 2px;
  margin-bottom: -1px;
  display: block;
  float: left;
  cursor: default;
  position: relative;
  @include border-bottom-radius($pixel_8);
  outline: none;
  &:hover! {}
}

.GrGrayTabTButtonDisabled {
  text-decoration: none;
   @include text-shadow(1px 1px $white);
  color: $grgray_tab_btndisable;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
  border: 1px solid $grgray_tab_border;
  border-bottom-style: none;
  padding: 2px 4px;
  margin-right: 2px;
  margin-bottom: -1px;
  display: block;
  float: left;
  cursor: default;
 @include border-bottom-radius($pixel_8);
  outline: none;
  &:hover! {}
}

.GrGrayTabTPanes! {}

.GrGrayTabTPane {
  color: Black;
  background-color: $hint_of_red;
  border: 1px solid $grgray_tab_btnborder;
  padding: 2px;
}

.GrGrayTabBContainer!, .GrGrayTabBBand! {}

.GrGrayTabBButton {
  text-decoration: none;
  @include text-shadow(1px 1px $white);
  color: Black;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23227%2c225%2c225/.%23249%2c248%2c248.png.a5image') repeat-x bottom #e3e1e1;
  border: 1px solid $grgray_tab_border;
  border-top-color: $grgray_tab_btnborder;
  padding: 2px 4px;
  margin-top: -1px;
  margin-right: 2px;
  display: block;
  float: left;
  cursor: default;
 @include border-bottom-radius($pixel_8);
  outline: none;
  &:hover {
    background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23238%2c236%2c236/.%23249%2c247%2c247.png.a5image') repeat-x bottom #efeded;
    border-color: $grgray_tab_btnborder;
  }
}

.GrGrayTabBButtonSelected {
  text-decoration: none;
  @include text-shadow(1px 1px $white);
  color: Black;
  background-color: $hint_of_red;
  border: 1px solid $grgray_tab_btnborder;
  border-top-style: none;
  padding: 2px 4px;
  padding-top: 3px;
  margin-top: -1px;
  margin-right: 2px;
  display: block;
  float: left;
  cursor: default;
  position: relative;
 @include border-bottom-radius($pixel_8);
  outline: none;
  &:hover! {}
}

.GrGrayTabBButtonDisabled {
  text-decoration: none;
  @include text-shadow(1px 1px $white);
  color: $grgray_tab_btndisable;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23227%2c225%2c225/.%23249%2c248%2c248.png.a5image') repeat-x bottom #e3e1e1;
  border: 1px solid $grgray_tab_border;
  border-top-color: $grgray_tab_btnborder;
  padding: 2px 4px;
  margin-top: -1px;
  margin-right: 2px;
  display: block;
  float: left;
  cursor: default;
  @include border-bottom-radius($pixel_8);
  outline: none;
  &:hover! {}
}

.GrGrayTabBPanes! {}

.GrGrayTabBPane {
  color: Black;
  background-color: $hint_of_red;
  border: 1px solid $grgray_tab_btnborder;
  padding: 2px;
}

.GrGrayTabLContainer!, .GrGrayTabLBand! {}

.GrGrayTabLButton {
  text-decoration: none;
   @include text-shadow(1px 1px $white);
  color: Black;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
  border: 1px solid $grgray_tab_border;
  padding: 2px;
  margin-right: -1px;
  margin-bottom: 2px;
  display: block;
  cursor: default;
  @include border-left-radius($pixel_8);
  outline: none;
  &:hover {
    background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image') repeat-x top #efeded;
    border-color: $grgray_tab_btnborder;
  }
}

.GrGrayTabLButtonSelected {
  text-decoration: none;
  @include text-shadow(1px 1px $white);
  color: Black;
  background-color: $hint_of_red;
  border: 1px solid $grgray_tab_btnborder;
  border-right-style: none;
  padding: 2px;
  padding-right: 3px;
  margin-right: -1px;
  margin-bottom: 2px;
  display: block;
  cursor: default;
  position: relative;
  @include border-left-radius($pixel_8);
  outline: none;
  &:hover! {}
}

.GrGrayTabLButtonDisabled {
  text-decoration: none;
  @include text-shadow(1px 1px $white);
  color: $grgray_tab_btndisable;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
  border: 1px solid $grgray_tab_border;
  padding: 2px;
  margin-right: -1px;
  margin-bottom: 2px;
  display: block;
  cursor: default;
  @include border-left-radius($pixel_8);
  outline: none;
  &:hover! {}
}

.GrGrayTabLPanes! {}

.GrGrayTabLPane {
  color: Black;
  background-color: $hint_of_red;
  border: 1px solid $grgray_tab_btnborder;
  padding: 2px;
}

.GrGrayTabRContainer!, .GrGrayTabRBand! {}

.GrGrayTabRButton {
  text-decoration: none;
  @include text-shadow(1px 1px $white);
  color: Black;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
  border: 1px solid $grgray_tab_border;
  border-left-style: none;
  padding: 2px;
  margin-left: 0px;
  margin-bottom: 2px;
  display: block;
  cursor: default;
  @include border-radius( 0px 2px 2px 0px);
  outline: none;
  &:hover {
    background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image') repeat-x top #efeded;
    border-color: $grgray_tab_btnborder;
  }
}

.GrGrayTabRButtonSelected {
  text-decoration: none;
  @include text-shadow(1px 1px $white);
  color: Black;
  background-color: $hint_of_red;
  border: 1px solid $grgray_tab_btnborder;
  border-left-style: none;
  padding: 2px;
  padding-left: 3px;
  margin-left: -1px;
  margin-bottom: 2px;
  display: block;
  cursor: default;
  position: relative;
  @include border-right-radius($pixel_8);
  outline: none;
  &:hover! {}
}

.GrGrayTabRButtonDisabled {
  text-decoration: none;
  @include text-shadow(1px 1px $white);
  color: $grgray_tab_btndisable;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
  border: 1px solid $grgray_tab_border;
  border-left-style: none;
  padding: 2px;
  margin-left: 0px;
  margin-bottom: 2px;
  display: block;
  cursor: default;
 @include border-right-radius($pixel_8);
  outline: none;
  &:hover! {}
}

.GrGrayTabRPanes! {}

.GrGrayTabRPane {
  color: Black;
  background-color: $hint_of_red;
  border: 1px solid $grgray_tab_btnborder;
  padding: 2px;
}

.GrGrayTabbandT {
  color: Black;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
  border: 1px solid $grgray_tab_btnborder;
  padding: 0px;
}

.GrGrayTabbandTButton {
  text-decoration: none;
  @include text-shadow(1px 1px $white);
  white-space: nowrap;
  color: Black;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
  border: 1px solid $grgray_tab_border;
  border-bottom-style: none;
  padding: 2px 4px;
  margin-top: 2px;
  margin-right: 2px;
  display: block;
  cursor: default;
  position: relative;
  @include border-top-radius();
  outline: none;
  &:hover {
    background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image') repeat-x top #efeded;
    border-color: $grgray_tab_btnborder;
  }
}

.GrGrayTabbandTButtonSelected {
  text-decoration: none;
  @include text-shadow(1px 1px $white);
  white-space: nowrap;
  color: Black;
  background-color: $hint_of_red;
  border: 1px solid $grgray_tab_btnborder;
  border-bottom-style: none;
  padding: 2px 4px;
  padding-bottom: 3px;
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: -1px;
  display: block;
  cursor: default;
  position: relative;
  @include border-top-radius($pixel_8);
  outline: none;
  &:hover! {}
}

.GrGrayTabbandTButtonDisabled {
  text-decoration: none;
  @include text-shadow(1px 1px $white);
  white-space: nowrap;
  color: $grgray_tab_btndisable;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
  border: 1px solid $grgray_tab_border;
  border-bottom-style: none;
  padding: 2px 4px;
  margin-top: 2px;
  margin-right: 2px;
  display: block;
  cursor: default;
  position: relative;
 @include border-bottom-radius($pixel_8);
  outline: none;
  &:hover! {}
}

.GrGrayTabbandTLScroll, .GrGrayTabbandTLScrollDisabled {
  text-decoration: none;
  color: Black;
  background-color: $hint_of_red;
  border: 1px solid $grgray_tab_btnborder;
  border-left-style: none;
  border-bottom-style: none;
  padding: 2px;
  padding-bottom: 3px;
  margin-bottom: -1px;
  display: block;
  position: relative;
  @include border-top-right-radius($pixel_8);
  outline: none;
  &:hover! {}
}

.GrGrayTabbandTRScroll {
  text-decoration: none;
  color: Black;
  background-color: $grgray_tab_scrollbg;
  border: 1px solid $grgray_tab_btnborder;
  border-right-style: none;
  border-bottom-style: none;
  padding: 2px;
  padding-bottom: 3px;
  margin-bottom: -1px;
  display: block;
  position: relative;
  @include border-top-left-radius($pixel_8);
  outline: none;
  &:hover! {}
}

.GrGrayTabbandTRScrollDisabled {
  text-decoration: none;
  color: Black;
  background-color: $hint_of_red;
  border: 1px solid $grgray_tab_btnborder;
  border-right-style: none;
  border-bottom-style: none;
  padding: 2px;
  padding-bottom: 3px;
  margin-bottom: -1px;
  display: block;
  position: relative;
   @include border-top-left-radius($pixel_8);
  outline: none;
  &:hover! {}
}

.GrGrayTabbandTSeparator {
  background-color: $hint_of_red;
  font: 0pt arial;
  border-top: 1px solid $grgray_tab_btnborder;
  padding: 0px;
  height: 3px;
}

.GrGrayTabbandB {
  color: Black;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23227%2c225%2c225/.%23249%2c248%2c248.png.a5image') repeat-x bottom #e3e1e1;
  border: 1px solid $grgray_tab_btnborder;
  border-bottom-style: solid;
  padding: 0px;
}

.GrGrayTabbandBButton {
  text-decoration: none;
  @include text-shadow(1px 1px $white);
  white-space: nowrap;
  color: Black;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23227%2c225%2c225/.%23249%2c248%2c248.png.a5image') repeat-x bottom #e3e1e1;
  border: 1px solid $grgray_tab_border;
  border-top-style: none;
  padding: 2px 4px;
  margin-right: 2px;
  margin-bottom: 2px;
  display: block;
  cursor: default;
  position: relative;
  @include border-bottom-radius($pixel_8);
  outline: none;
  &:hover {
    background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23238%2c236%2c236/.%23249%2c247%2c247.png.a5image') repeat-x bottom #efeded;
    border-color: $grgray_tab_btnborder;
  }
}

.GrGrayTabbandBButtonSelected {
  text-decoration: none;
  @include text-shadow(1px 1px $white);
  white-space: nowrap;
  color: Black;
  background-color: $hint_of_red;
  border: 1px solid $grgray_tab_btnborder;
  border-top-style: none;
  padding: 2px 4px;
  padding-top: 3px;
  margin-top: -1px;
  margin-right: 2px;
  margin-bottom: 2px;
  display: block;
  cursor: default;
  position: relative;
  @include border-bottom-radius($pixel_8);
  outline: none;
  &:hover! {}
}

.GrGrayTabbandBButtonDisabled {
  text-decoration: none;
  @include text-shadow(1px 1px $white);
  white-space: nowrap;
  color: $grgray_tab_btndisable;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23227%2c225%2c225/.%23249%2c248%2c248.png.a5image') repeat-x bottom #e3e1e1;
  border: 1px solid $grgray_tab_border;
  border-top-style: none;
  padding: 2px 4px;
  margin-right: 2px;
  margin-bottom: 2px;
  display: block;
  cursor: default;
  position: relative;
  @include border-bottom-radius($pixel_8);
  outline: none;
  &:hover! {}
}

.GrGrayTabbandBLScroll {
  text-decoration: none;
  color: Black;
  background-color: $grgray_tab_scrollbg;
  border: 1px solid $grgray_tab_btnborder;
  border-top-style: none;
  border-left-style: none;
  padding: 2px;
  padding-top: 3px;
  margin-top: -1px;
  display: block;
  position: relative;
  @include border-bottom-right-radius($pixel_8);
  outline: none;
  &:hover! {}
}

.GrGrayTabbandBLScrollDisabled {
  text-decoration: none;
  color: Black;
  background-color: $hint_of_red;
  border: 1px solid $grgray_tab_btnborder;
  border-top-style: none;
  border-left-style: none;
  padding: 2px;
  padding-top: 3px;
  margin-top: -1px;
  display: block;
  position: relative;
  @include border-bottom-right-radius($pixel_8);
  outline: none;
  &:hover! {}
}

.GrGrayTabbandBRScroll, .GrGrayTabbandBRScrollDisabled {
  text-decoration: none;
  color: Black;
  background-color: $hint_of_red;
  border: 1px solid $grgray_tab_btnborder;
  border-top-style: none;
  border-right-style: none;
  padding: 2px;
  padding-top: 3px;
  margin-top: -1px;
  display: block;
  position: relative;
 @include border-bottom-left-radius($pixel_8);
  outline: none;
  &:hover! {}
}

.GrGrayTabbandBSeparator {
  background-color: $hint_of_red;
  font: 0pt arial;
  border-bottom: 1px solid $grgray_tab_btnborder;
  padding: 0px;
  height: 3px;
}