/* ======== Gr GRAY SLIDER ======== */
.GrGraySliderH {
  padding: 6px;
}

.GrGraySliderHInner {
  background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
  font: 0pt arial;
  border: 1px solid $ggray_sliderH_border;
  height: 6px;
  @include border-radius(4px)
}

.GrGraySliderHHandle {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242+242+242/.%23217+216+216.png.a5image') repeat-x top;
  font-size: 0pt;
  border: 1px solid $ggray_sliderHandle_border;
  margin-top: -$pixel_4;
  margin-left: -$pixel_4;
  @include square($pixel+6);
  @include border-radius(4px);
}

.GrGraySliderHRange {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242+242+242/.%23217+216+216.png.a5image') repeat-x top;
  font-size: 0pt;
  border: 1px solid $ggray_sliderH_border;
  margin: -$pixel_9;
  height: $pixel_4;
  @include border-radius(4px);
}

.GrGraySliderHHandleHover {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
  border-color: $ggray_slider_borderHover;
}

.GrGraySliderHHandleSelected {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
  border-color: $ggray_slider_borderselect;
}

.GrGraySliderHRangeHover {
  background: url('images/a5generated/box/size/1x28/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
  border-color: $ggray_slider_borderHover;
}

.GrGraySliderHRangeSelected {
  background: url('images/a5generated/box/size/1x28/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
  border-color: $ggray_slider_borderselect;
}