/* ======== Gr GRAY DP ======== */
.GrGrayDP {
  color: Black;
  background-color: $white;
  border: 1px solid $gr_graydp_border;
   @include border-radius(2px);
}

.GrGrayDPHeader {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
  border: 1px none $gr_graydp_border;
  border-bottom-style: solid;
  padding: 2px 4px;
}

.GrGrayDPHeaderButton {
  text-decoration: none;
  @include text-shadow(1px 1px $white);
  color: $gr_graydp_font_color;
  padding: 2px 4px;
  margin: 1px;
  @include inline-block();
  cursor: default;
  outline: none;
}

.GrGrayDPHeaderButtonHover {
  color: $gr_graydp_font_colorhover;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
  border: 1px solid $blue_dodger;
  padding: 1px 3px;
  @include border-radius(4px);
}

.GrGrayDPHeaderButtonSelected {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image') repeat-x top #f0efef;
  border: 1px solid $dusty_gray;
  padding: 1px 3px;
  @include border-radius(4px);
}

.GrGrayDPItem {
  text-align: center;
  text-decoration: none;
  color:$graydp_item_color;
  padding: 2px 4px;
  margin: 1px;
  display: block;
  cursor: default;
  outline: none;
}

.GrGrayDPItemHover {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
  border: 1px solid $ggray_dp_item_border;
  padding: 1px 3px;
  @include border-radius(2px);
}

.GrGrayDPItemSelected {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
  border: 1px solid $ggray_dp_item_border;
  padding: 1px 3px;
  @include border-radius(2px);
}

.GrGrayDPItemOutOfRange {
  color: $graydp_outrange_color;
}

.GrGrayDPItemDisabled {
  color: $graydp_item_color_disabled;
}

.GrGrayDPPanel {
  background-color: $graydp_panel_bg;
  padding: 2px;
}

.GrGrayDPDaysOfWeek {
  background: url('images/a5generated/box/size/1x5/fill/Gradient_Horizontal/.%23220%2c217%2c217/.%23238%2c236%2c236.png.a5image') repeat-x top #eae9e9;
  border: 1px none $gr_graydp_border;
  border-bottom-style: solid;
  padding: 2px 4px;
}

.GrGrayDPWeeksOfYear {
  background-color: $grayd_wekyr_bg;
  border-right: 1px solid $silver_light;
}

.GrGrayDPWeeksOfYearHeader {
  border-bottom-style: none;
}

.GrGrayDPDate {
  background-color: $graydp_panel_bg;
  padding: 2px;
}

.GrGrayDPDateWeekend {
  background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23246%2c244%2c244/.%23238%2c236%2c236.png.a5image') repeat center $grayd_date_bg;
  padding: 2px;
}

.GrGrayDPDateToday {
  background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23237%2c235%2c235/.%23230%2c226%2c226.png.a5image') repeat center $grayd_date_today_bg;
  padding: 2px;
}
