/* ======== Gr GRAY LIST ======== */
.GrGrayList {
  background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
  font: $gray_list_font;
  border: 1px solid $gray_list_border;
  padding: 0px;
  overflow: auto;
  @include border-radius(2px);
  @include box-sizing(border-box);
}

.GrGrayListItem {
  text-decoration: none;
  color: $black;
  padding: 2px 4px;
  margin: 1px;
  display: block;
  cursor: default;
  outline: none;
}

.GrGrayListItemHover {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
  border: 1px solid $gray_list_itemact_border;
  padding: 1px 3px;
  @include border-radius(2px);
}

.GrGrayListItemSelected {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
  border: 1px solid $gray_list_itemact_border;
  padding: 1px 3px;
  @include border-radius(2px);
}

.GrGrayListItemLabelMain {
  font-size: 125%;
  font-weight: bold;
}

.GrGrayListItemLabelSub {
  font-weight: bold;
}

.GrGrayListItemLabelContext {
  color: $boulder;
  font-style: italic;
}

.GrGrayListItemLabelDetail {
  color:$white;
  background-color: $dusty_gray;
  padding: 2px 10px;
  @include border-radius(12px);
}

.GrGrayListItemContent {
  color: $scorpion;
}

.GrGrayListTitle {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
  border: 1px none $alto;
  border-top-style: solid;
  border-bottom-style: solid;
  padding: 2px 4px;
}

.GrGrayListSeparator {
  border: 1px none $alto;
  border-top-style: solid;
  margin: 0px;
}

.GrGrayListHeader {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
  border: 1px none $gray_list_border;
  border-bottom-style: solid;
}

.GrGrayListHeaderItem {
  padding: 4px 6px;
  cursor: default;
}

.GrGrayListHeaderItemHover {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
}
