/* ======== Gr GRAY WIN PANEL ======== */
.GrGrayPanelHeader {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23252%2c252%2c252/.%23242%2c241%2c241.png.a5image') repeat-x top #f2f1f1;
  border-right: 1px solid $graypanel_border;
  border-bottom: 1px solid $graypanel_border;
  padding: 4px 6px;
}

.GrGrayPanelBody {
  background-color: $graypanel_bgBody;
  border-right: 1px solid $graypanel_border;
  padding: 4px;
}

.GrGrayPanelFooter {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23252%2c252%2c252/.%23242%2c241%2c241.png.a5image') repeat-x top #f2f1f1;
  border-top: 1px solid $graypanel_border;
  border-right: 1px solid $graypanel_border;
  padding: 4px 6px;
}

.GrGrayPanelOverlay {
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    width: 2px;
    height: 100%;
    left: -3px;
    border-right: $graypanel_border 1px solid;
    background: rgba(0, 0, 0, 0.1);
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    width: 2px;
    height: 100%;
    right: -3px;
    border-left: $graypanel_border 1px solid;
    background: rgba(0, 0, 0, 0.1);
  }
}

.GrGrayPanelTopHeader {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
  border-right: 1px solid $graypanel_border;
  border-bottom: 1px solid $graypanel_border;
  padding: 4px 6px;
}

.GrGrayPanelTopBody {
  background-color: $graypanel_bgBody;
  border-right: 1px solid $graypanel_border;
  padding: 4px;
}

.GrGrayPanelTopFooter {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
  border-top: 1px solid $graypanel_border;
  border-right: 1px solid $graypanel_border;
  padding: 4px 6px;
}

.GrGrayPanelNavIndButton {
  background: url('images/a5generated/box/size/1x10/fill/Gradient_Horizontal/.%23241%2c241%2c241/.%23217%2c216%2c216.png.a5image') repeat-x top #dad9d9;
  border: 1px solid $sliver_ca;
  margin: 2px;
  @include inline-block();
  @include square(10px);
  border-radius: 5px;
}

.GrGrayPanelNavIndButtonSelected {
  background: url('images/a5generated/box/size/1x10/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image') repeat-x top #f0efef;
  border: 1px solid $dusty_gray ;
}