/* ======== GGARY BUTTON ======== */
.GrGrayButton {
  @include gr_gray_button();
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23241%2c241%2c241/.%23217%2c216%2c216.png.a5image') repeat-x top #dad9d9;
  border: 1px solid #c7c6c6;
  padding: 2px 4px;
  vertical-align: middle;
  @include border-radius(4px);
  @include box-sizing(border-box);
}

.GrGrayButtonT {
  @include gr_gray_button();
  background-color: transparent;
  border-style: none;
  padding: 3px 5px;
  vertical-align: middle;
  @include box-sizing(border-box);
}

.GrGrayButtonHover{
  color: Black;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
  border: 1px solid #4170ff;
  padding: 2px 4px;
  @include border-radius(4px);
}

.GrGrayButtonTHover {
  @extend .GrGrayButtonHover;
}

.GrGrayButtonPressed {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image') repeat-x top #f0efef;
  border: 1px solid $dusty_gray;
  padding: 2px 4px;
  @include border-radius(4px);
}

.GrGrayButtonTPressed{
   @extend .GrGrayButtonHover;
}

.GrGrayButtonDisabled, 
.GrGrayButtonTDisabled, 
.GrGrayButton[disabled], 
.GrGrayButtonT[disabled] {
  color: $gray-dark;
}

.GrGrayButtonDD {
  @include gr_gray_button();
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23241%2c241%2c241/.%23217%2c216%2c216.png.a5image') repeat-x top #dad9d9;
  border: 1px solid $silver;
  padding: 0px;
  vertical-align: middle;
  @include border-radius(4px);
  @include box-sizing(border-box);
}

.GrGrayButtonTDD {
  @include gr_gray_button();
  background-color: transparent;
  border-style: none;
  padding: 1px;
  vertical-align: middle;
  @include box-sizing(border-box);
}

.GrGrayButtonDDHover{
  color: Black;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
  border: 1px solid #4170ff;
  padding: 0px;
  @include border-radius(4px);
}

.GrGrayButtonTDDHover {
    @extend .GrGrayButtonDDHover
}

.GrGrayButtonDDPressed{
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image') repeat-x top #f0efef;
  border: 1px solid #9d9999;
  padding: 0px;
  @include border-radius(4px);
}
.GrGrayButtonTDDPressed {
  @extend .GrGrayButtonTDDPressed
}

.GrGrayButtonDDDisabled, .GrGrayButtonTDDDisabled {
  color: $gray-dark;
}

.GrGrayButtonDDContent, 
.GrGrayButtonDDSplitContent, 
.GrGrayButtonTDDContent, 
.GrGrayButtonTDDSplitContent {
  padding: 2px 4px;
  cursor: default;
}

.GrGrayButtonDDDropdown, 
.GrGrayButtonDDSplitDropdown, 
.GrGrayButtonTDDDropdown, 
.GrGrayButtonTDDSplitDropdown {
  padding: 2px;
  cursor: default;
}

.GrGrayButtonDDHover {
  .GrGrayButtonDDSplitContent{
    border-right: 1px solid White;
    padding-right: 3px;
  }
}

.GrGrayButtonTDDHover {
    .GrGrayButtonTDDSplitContent{
      border-right: 1px solid White;
      padding-right: 3px;
    }
}

.GrGrayButtonDDPressed{
  .GrGrayButtonDDSplitContent
    {
      border-right: 1px solid $wild_sand;
      padding-right: 3px;
    }
}

.GrGrayButtonTDDPressed{
   .GrGrayButtonTDDSplitContent {
      border-right: 1px solid $wild_sand;
      padding-right: 3px;
   }
}

.GrGrayButtonDDHover{
  .GrGrayButtonDDSplitDropdown
  {
    border-left: 1px solid $malibu;
    padding-left: 1px;
  }
}

.GrGrayButtonTDDHover{
  .GrGrayButtonTDDSplitDropdown {
    border-left: 1px solid $malibu ;
    padding-left: 1px;
  }
} 

.GrGrayButtonDDPressed {
  .GrGrayButtonDDSplitDropdown{
    border-left: 1px solid $silver_light;
    padding-left: 1px;
  }
}

.GrGrayButtonTDDPressed {
    GrGrayButtonTDDSplitDropdown {
      border-left: 1px solid $silver_light;
      padding-left: 1px;
  }
}

.GrGrayButtonDDHover {
  .GrGrayButtonDDSplitDropdownHover{
      background: url('images/a5generated/box/size/1x10/fill/Gradient_Horizontal/.HTML-White/.%23229%2c228%2c228.png.a5image') repeat-x top #cedafe;
      border-left: 1px solid #4170ff;
      padding: 2px;
      padding-left: 1px;
     @include border-right-radius(3px);
  }
}

.GrGrayButtonTDDHover{
     .GrGrayButtonTDDSplitDropdownHover{
        background: url('images/a5generated/box/size/1x10/fill/Gradient_Horizontal/.HTML-White/.%23229%2c228%2c228.png.a5image') repeat-x top #cedafe;
        border-left: 1px solid $blue_dodger;
        padding: 2px;
        padding-left: 1px;
        @include border-right-radius(3px);
     }
}

.GrGrayButtonGroupHF {
  border-right-style: none;
  margin-right: 0px;
  @include border-radius();
  @include border-left-radius(3px);
}

.GrGrayButtonGroupHM {
  border-right-style: none;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0px;
}

.GrGrayButtonGroupHL {
  margin-left: 0px;
   @include border-right-radius(3px);
}

.GrGrayButtonGroupVF {
  border-bottom-style: none;
  margin-bottom: 0px;
  display: block;
  width: 100%;
   @include border-left-radius(3px);
}

.GrGrayButtonGroupVM {
  border-bottom-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  display: block;
  width: 100%;
  border-radius: 0px;
}

.GrGrayButtonGroupVL {
  margin-top: 0px;
  display: block;
  width: 100%;
   @include border-bottom-radius(3px);
}
