.A5TabTopPane {
  color: #000000;
  //background: image-url('image/link') 0 0 no-repeat;
  font: $font-size-base  $font-family-base;
  border: $pixel_9 solid #919b9c;
  padding: $pixel_8;
  margin-top: - $pixel_7;
}

.A5TabTopOn {
  @include tab_base();
  position: relative;
  top: $pixel_9;
  padding: $pixel_8 $pixel_6;
  margin-bottom: $pixel_7;
  margin-right: $pixel_9;
  text-decoration: none;
  color: #000000;
  //background: image-url('image/link') 0 0 no-repeat;
  font: $font-size-base  $font-family-base;
  font-weight: bold;
  border: $pixel_9 solid #919b9c;
  border-top-color: #e68b2c;
  border-bottom-style: none;
  @include border-top-radius(2px);
  cursor: default;
}

.A5TabTopOff {
  @include tab_base();
  padding: $pixel_9 $pixel_4;
  padding-botton: 0;
  margin-bottom: $pixel_8;
  margin-top: $pixel_8;
  margin-right: $pixel_9;
  text-decoration: none;
  color: #000000;
  //background: #bebed8 url('images/$box/$size/1x20/$fill/Gradient_Horizontal:%23255%2B255%2B255%3A%23190%2B190%2B216.png.a5image') repeat-x top;
  //background: image-url('image/link') 0 0 no-repeat;
  font: $font-size-base  $font-family-base;
  font-weight: bold;
  border: $pixel_9 solid #91a7b4;
  border-bottom-color: #919b9c;
  @include border-top-radius(2px);
  cursor: default;
  &:hover {
    color: #000000;
    //background: #fcfcfe url('images/$box/$size/1x2/$fill/Gradient_Horizontal:%23255%2B200%2B60%3A%23255%2B200%2B60.png.a5image') repeat-x top;
    border: 1px solid #919b9c;
    border-top-color: #e68b2c;
    border-bottom-color: #919b9c;
  }
}

.A5TabTopDisabled {
  @include tab_base();
  padding: $pixel_9 $pixel_6;
  padding-botton: 0px;
  margin-bottom: $pixel_8;
  margin-top: $pixel_8;
  margin-right: 1px;
  text-decoration: none;
  color: #888;
  //background: #bebed8 url('images/$box/$size/1x20/$fill/Gradient_Horizontal:%23255%2B255%2B255%3A%23190%2B190%2B216.png.a5image') repeat-x top;
  font: $font-size-base  $font-family-base;
  font-weight: bold;
  border: 1px solid #91a7b4;
  border-bottom-color: #919b9c;
  @include border-top-radius(2px);
  cursor: default;
}

.A5TabBottomPane {
  @include tab_base();
  color: #000000;
  //background: #f7f7f4 url('images/$box/$size/1x50/$fill/Gradient_Horizontal:%23247%2B247%2B244%3A%23255%2B255%2B255.png.a5image') repeat-x bottom;
  font: $font-size-base  $font-family-base;
  border: 1px solid #919b9c;
  padding: $pixel_8;
  margin-bottom: -$pixel_7;
}

.A5TabBottomOn {
  position: relative;
  top: 1px;
  @include tab_base();
  padding: $pixel_8 $pixel_4;
  margin-top: $pixel_9;
  margin-right: $pixel_9;
  text-decoration: none;
  color: #000000;
  //background: #fcfcfe url('images/$box/$size/1x2/$fill/Gradient_Horizontal:%23255%2B200%2B60%3A%23255%2B200%2B60.png.a5image') repeat-x bottom;
  font: $font-size-base  $font-family-base;
  font-weight: bold;
  border: $pixel_9 solid #919b9c;
  border-bottom-color: #e68b2c;
  border-top-style: none;
  @include border-bottom-radius(2px);
  cursor: default;
}

.A5TabBottomOff {
  @include tab_base();
  padding: $pixel_9 $pixel_6;
  padding-botton: 0px;
  margin-top: $pixel_8;
  margin-bottom: $pixel_8;
  margin-right: 1px;
  text-decoration: none;
  color: #000000;
  background: #bebed8 url('images/$box/$size/1x20/$fill/Gradient_Horizontal:%23255%2B255%2B255%3A%23190%2B190%2B216.png.a5image') repeat-x top;
  font: $font-size-base  $font-family-base;
  font-weight: bold;
  border: $pixel_9 solid #91a7b4;
  border-top-color: #919b9c;
  @include border-top-radius(2px);
  cursor: default;
  &:hover {
    color: #000000;
    background: #fcfcfe url('images/$box/$size/1x2/$fill/Gradient_Horizontal:%23255%2B200%2B60%3A%23255%2B200%2B60.png.a5image') repeat-x bottom;
    border: $pixel_9 solid #919b9c;
    border-bottom-color: #e68b2c;
    border-top-color: #919b9c;
  }
}

.A5TabBottomDisabled {
  @include tab_base();
  padding: $pixel_9 $pixel_6;
  padding-botton: 0px;
  margin-top: $pixel_8;
  margin-bottom: $pixel_8;
  margin-right: $pixel_9;
  text-decoration: none;
  color: #888;
  //background: #bebed8 url('images/$box/$size/1x20/$fill/Gradient_Horizontal:%23255%2B255%2B255%3A%23190%2B190%2B216.png.a5image') repeat-x top;
  font: $font-size-base  $font-family-base;
  font-weight: bold;
  border: $pixel_9 solid #91a7b4;
  border-top-color: #919b9c;
  @include border-top-radius(2px);
  cursor: default;
}

.A5TabLeftPane {
  color: #000000;
  //background: #f7f7f4 url('images/$box/$size/100x1/$fill/Gradient_Vertical:%23255%2B255%2B255%3A%23247%2B247%2B244.png.a5image') repeat-y left;
  font: $font-size-base  $font-family-base;
  border: $pixel_9 solid #919b9c;
  padding: $pixel_8;
}

.A5TabLeftOn {
  position: relative;
  left: $pixel_9;
  display: block;
  padding: $pixel_8 $pixel_6;
  margin-bottom: 1px;
  text-decoration: none;
  color: #000000;
  //background: #fcfcfe url('images/$box/$size/3x1/$fill/Gradient_Horizontal:%23255%2B200%2B60%3A%23255%2B200%2B60.png.a5image') repeat-y left;
  font: $font-size-base  $font-family-base;
  font-weight: bold;
  border: $pixel_9 solid #919b9c;
  border-left-color: #e68b2c;
  border-right-style: none;
  @include border-left-radius(2px);
  cursor: default;
}

.A5TabLeftOff {
  display: block;
  padding: $pixel_8 $pixel_6;
  margin-left: $pixel_8;
  margin-right: -$pixel_8;
  margin-bottom: $pixel_9;
  text-decoration: none;
  color: #000000;
  //background: #bebed8 url('images/$box/$size/1x20/$fill/Gradient_Horizontal:%23255%2B255%2B255%3A%23190%2B190%2B216.png.a5image') repeat-x top;
  font: $font-size-base  $font-family-base;
  font-weight: bold;
  border: $pixel_9 solid #91a7b4;
  border-right-color: #919b9c;
  @include border-left-radius(2px);
  cursor: default;
  &:hover {
    color: #000000;
    background: #fcfcfe url('images/$box/$size/2x1/$fill/Gradient_Horizontal:%23255%2B200%2B60%3A%23255%2B200%2B60.png.a5image') repeat-y left;
    border: $pixel_9 solid #919b9c;
    border-left-color: #e68b2c;
    border-right-color: #919b9c;
  }
}

.A5TabLeftDisabled {
  display: block;
  padding: $pixel_8 $pixel_6;
  margin-left: $pixel_8;
  margin-right: -$pixel_8;
  margin-bottom: $pixel_9;
  text-decoration: none;
  color: #888;
  //background: #bebed8 url('images/$box/$size/1x20/$fill/Gradient_Horizontal:%23255%2B255%2B255%3A%23190%2B190%2B216.png.a5image') repeat-x top;
  font: $font-size-base  $font-family-base;
  font-weight: bold;
  border: $pixel_9 solid #91a7b4;
  border-right-color: #919b9c;
  @include border-left-radius(2px);
  cursor: default;
}

.A5TabRightPane {
  color: #000000;
 // background: #f7f7f4 url('images/$box/$size/100x1/$fill/Gradient_Vertical:%23247%2B247%2B244%3A%23255%2B255%2B255.png.a5image') repeat-y right;
  font: $font-size-base  $font-family-base;
  border: $pixel_9 solid #919b9c;
  padding: $pixel_8;
}

.A5TabRightOn {
  position: relative;
  right: $pixel_9;
  display: block;
  padding: $pixel_8 $pixel_6;
  margin-bottom: 1px;
  text-decoration: none;
  color: #000000;
  background: #fcfcfe url('images/$box/$size/3x1/$fill/Gradient_Horizontal:%23255%2B200%2B60%3A%23255%2B200%2B60.png.a5image') repeat-y right;
  font: $font-size-base  $font-family-base;
  font-weight: bold;
  border: $pixel_9 solid #919b9c;
  border-right-color: #e68b2c;
  border-left-style: none;
  @include border-right-radius(2px);
  cursor: default;
}

.A5TabRightOff {
  display: block;
  padding: $pixel_8 $pixel_6;
  margin-right: $pixel_8;
  margin-left: -$pixel_9;
  margin-bottom: $pixel_9;
  text-decoration: none;
  color: #000000;
  //background: #bebed8 url('images/$box/$size/1x20/$fill/Gradient_Horizontal:%23255%2B255%2B255%3A%23190%2B190%2B216.png.a5image') repeat-x top;
  font: $font-size-base  $font-family-base;
  font-weight: bold;
  border: 1px solid #91a7b4;
  border-left-color: #919b9c;
  @include border-right-radius(2px);
  cursor: default;
  &:hover {
    color: #000000;
    //background: #fcfcfe url('images/$box/$size/2x1/$fill/Gradient_Horizontal:%23255%2B200%2B60%3A%23255%2B200%2B60.png.a5image') repeat-y right;
    border: $pixel_9 solid #919b9c;
    border-right-color: #e68b2c;
    border-left-color: #919b9c;
  }
}

.A5TabRightDisabled {
  display: block;
  padding: $pixel_8 $pixel_6;
  margin-right: $pixel_8;
  margin-left: -$pixel_9;
  margin-bottom: $pixel_9;
  text-decoration: none;
  color: #888;
  //background: #bebed8 url('images/$box/$size/1x20/$fill/Gradient_Horizontal:%23255%2B255%2B255%3A%23190%2B190%2B216.png.a5image') repeat-x top;
  font: $font-size-base  $font-family-base;
  font-weight: bold;
  border: 1px solid #91a7b4;
  border-left-color: #919b9c;
  @include border-right-radius(2px);
  cursor: default;
}