//GENERAL VARIABLE =============================


$button_gr_gray	: $mine_shaft;

//GrGrayDP
$gr_graydp_border 			: $silver_light;
$gr_graydp_font_color 		: $tundore;
$gr_graydp_font_colorhover 	: $black;
$graydp_outrange_color 		: $scorpion;
$graydp_item_color 			: $black;
$graydp_item_color_disabled : $silver_chalice;
$ggray_dp_item_border		: $dusty_gray; 
$graydp_panel_bg			: $hint_of_red;
$grayd_wekyr_bg 			: $mercury_dark;
$grayd_date_bg 				: $gallery;
$grayd_date_today_bg 		: $bon_jour;


//gr_gray_edit
$gray_edit_font 	 : 10pt Calibri, Tahoma, Arial;
$gray_edit_bg_action : $silver_light;
$gray_edit_border 	 : $silver_light;
$gray_edit_error 	 : $red;
$gray_edit_btn_color : $main_shaft;

//gr_gray_dialog
$gray_dialog_rowaction_border : $prewinkle;
$gray_dialog_error 			  : $red;

//gr_gray_list
$gray_list_font 			: 10pt Calibri, Tahoma, Arial;
$gray_list_border 			: $silver_light;
$gray_list_itemact_border 	: $malibu;

//gr_gray_menu			
$graymenu_bgbody			:$seashell;
$graymenu_border			:$malibu;
$graymenu_border_sprator	:$alto;

//gr_gray_panel	
$graypanel_border			:$silver_light;
$graypanel_bgBody			:$hint_ofred;

//gr_gray_slider
$ggray_sliderH_border		:$silver_light;	
$ggray_sliderHandle_border	:$sliver_ca;	
$ggray_slider_borderHover	:$malibu;	
$ggray_slider_borderselect	:$blue_dodger;	

//gr_gray_spin
$grgray_spinlist_bg			: $hint_ofred;
$grgray_spinlist_border		: $silver_light;
$grgray_spinlist_borderSlc	: $malibu;

//gr_gray_switch
$grgray_switch_fontcolor	: $main_shaft;
$grgray_switchOn_fontcolor	: $black;
$grgray_switchOn_border		: $silver_light;
$grgray_switch_btnBorder	: $sliver_ca;

//gr_gray_Tabs
$grgray_tab_border			: $silver_light;
$grgray_tab_btnborder		: $silver;
$grgray_tab_bgcolor			: $hint_of_red;
$grgray_tab_scrollbg		: $wild_sand;
$grgray_tab_btndisable		: $gray;


